In [1]:
# print is use for answer

In [2]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('hello')
print(10,20,'hello')

10
10 20
hello
10 20 hello

In [12]:
num1=10
num2=20
add=num1+num2
print(add)

30

# print result with string

In [2]:
num1=10
num2=10
add=num1+num2
print('the addition of',num1,'and', num2, 'is:',add)

the addition of 10 and 10 is: 20

In [3]:
name='komal'
age=21
city='hydrabad'
#hello my name is komal and i am 21 years old from hydrabad

In [4]:
print('my name is',name,'and i am',age,'years old from',city )

my name is komal and i am 21 years old from hydrabad

# print format method

In [9]:
num1=20
num2=30
add=num1+num2
print('addition of {} and {} is={}'.format(num1,num2,add))

addition of 20 and 30 is=50

In [10]:
print('the addition of {} and {} is={}'.format(num1,num2,add) )

the addition of 20 and 30 is=50

first decide how to print should be

like:-the addition of 20 and 30 is :50

then the replace variable position with curley bratacesm {}

then apply .format(val1,val2,val-n methdom)

In [11]:
name='koaml'
age='21'
city='hydrabad'

In [12]:
print('my name is {} and i am {} years old from {}'.format(name,age,city))

my name is koaml and i am 21 years old from hydrabad

In [8]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 # or we can use avg round(num1+num2+num3)/3,2
avg1=round(num1+num2+num3)/3,2
print('the average of {},{} and {} is={} or {}'.format(num1,num2,num3,avg,avg1))
#here we can use round (avg,2) also 
round(avg,2)   # round of till 2 digit after deciaml

the average of 100,25 and 333 is=152.66666666666666 or (152.66666666666666, 2)

152.67

# more short format method (f string method)

variable should be in curly braces

and write everything inside quotes''

at starting simply add f

In [10]:
num1=20
num2=30
add=num1+num2
print(f'the addition of {num1} and {num2} is = {add}')

the addition of 20 and 30 is = 50

In [13]:
name='komal'
age=21
city='hydrabad'
print(f'My name is {name} and i am {age} years old from {city} ')

My name is komal and i am 21 years old from hydrabad

In [18]:
num1=100
num2=25
num3=333
avg=(round(num1+num2+num3)/3)

In [19]:
print(f'the average of {num1},{num2} and {num3} is ={avg}')

the average of 100,25 and 333 is =152.66666666666666

In [29]:
# let combine all

num1=10
num2=20
add=num1+num2

print('the addition of', num1, 'and', num2 ,'is=',add)

print('the additiom of {} and {} is = {}'.format(num1,num2,add))

print(f'the addition of {num1} and {num2} is = {add}')

the addition of 10 and 20 is= 30
the additiom of 10 and 20 is = 30
the addition of 10 and 20 is = 30

# End statement

In [30]:
print('Hello')          #1st statement
print('Good morning')   #2nd statement
# i want to print like :- hello good morning

Hello
Good morning

here we will use end statement that joint line from end of one string to starting of other string

In [32]:
print('hello',end =' ')
print('good morning')

hello good morning

here one print statement only we use

inside one print statement we have multiple values

we want to seperate these multiple values with anything

# Seprator

In [35]:
print('hello','hi','how are you',sep='---->')

hello---->hi---->how are you

In [36]:
print('hello','hi','how are you',sep='@')

hello@hi@how are you

In [39]:
print('hello ' , ' good morning',sep='')

hello  good morning

In [40]:
print(3,'.')       # is far from 3 so here we will use sep method

3 .

In [41]:
print(3,'.',sep='')    #see now space setteled (also use to remove space B/W words)

3.

In [2]:
print(1,2,3,end='')
print('3',', sep')

1 2 33 , sep