In [4]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [5]:
i=1
while i<=5:
    print('ds')
    i=i+1

ds
ds
ds
ds
ds

In [6]:
i=5
while i>=1:
    print('ds')
    i=i-1

ds
ds
ds
ds
ds

In [9]:
i=1
while i<=5:
    print('ds:',i)
    i=i+1

ds: 1
ds: 2
ds: 3
ds: 4
ds: 5

In [10]:
i=5
while i>=1:
    print('ds:',i)
    i=i-1

ds: 5
ds: 4
ds: 3
ds: 2
ds: 1

In [12]:
i=1
while i<=5:
    print('ds')
    j=1
    while j<=4:
        print('technology')
        j=j+1
    i=i+1
    print()

ds
technology
technology
technology
technology

ds
technology
technology
technology
technology

ds
technology
technology
technology
technology

ds
technology
technology
technology
technology

ds
technology
technology
technology
technology

In [13]:
i=1
while i<5:
    print('ds',end=' ') 
    #when we use end then new line will not create
    j=1
    while j<=4:
        print('technology',end=' ')
        j=j+1
    i=i+1
    print()

ds technology technology technology technology
ds technology technology technology technology
ds technology technology technology technology
ds technology technology technology technology

In [14]:
#lets use while loop using some numbers

i=1
while i<=2:
    j=0
    while j<=2:
        print(i*j,end=' ')
        j=j+1   #j+=1
    print()
    i+=1       #i=i+1

0 1 2
0 2 4

In [15]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=' ')
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [16]:
i=10
while i<=4:
    J=1
    while j<=3:
        print(i*j,end=' ') 
        j+=1
    print()
    i+=1
else:
    print('condition is not match')

condition is not match

# For Loop

In [17]:
name='komal'
for i in name:
    print(i)

k
o
m
a
l

In [18]:
name1=[1,2,3,'hie']
for i in name1:
    print(i)

1
2
3
hie

In [19]:
range(5)

range(0, 5)

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [22]:
#Print the value which divisible by 5
for i in range(1,31):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [24]:
#Print the value which is divisible by 2
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
#Print the value which is divisible by 12
for i in range(12,121):
    if i%12==0:
        print(i)

12
24
36
48
60
72
84
96
108
120

# Break,Continue,Pass

In [23]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
for i in range(1,11):
    if i==4:
        break
    print(i)

1
2
3

In [27]:
for i in range(1,11):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [28]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [29]:
for i in range(1,11):
    pass

In [30]:
x=int(input('how many assignment you want:'))
i=1
while i<=x:
    print('assignment:',i)
    i=i+1

how many assignment you want: 5

assignment: 1
assignment: 2
assignment: 3
assignment: 4
assignment: 5

In [33]:
# the machine has only 5 assignment
available=5
x=int(input('how many assignment:?'))
i=1
while i<=x:
    print('assignment:',i)
    i+=1

how many assignment:? 4

assignment: 1
assignment: 2
assignment: 3
assignment: 4

In [39]:
# the machine has only 10 candies
available_choclets=5
x=int(input('how many choclets user want:?'))
i=1
while i<=x:
    if i>available_choclets:   # we stop the execution but which code execution notentire code,i want to come out of while loop
        break                 #break is statement | means jump out of the loop
    print('choclet')
    i=i+1
print('bye now')

how many choclets user want:? 6

choclet
choclet
choclet
choclet
choclet
bye now

In [41]:
available_choclet=5
x=int(input('how many choclet you want:?'))
i=1
while i<=x:
    if i>available_choclet:
        print('out of stock')
        break
    print('choclet:',i)
    i+=1
print('bye now')

how many choclet you want:? 6

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
out of stock
bye now

In [44]:
for i in range(1,51):
    if i%3 == 0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [45]:
for i in range(1,51):
    if i%3==0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [46]:
for i in range(1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [47]:
nums=[12,15,18,21,26,30,40]
for num in nums:
    if num%5==0:
        print(num)

15
30
40

In [50]:
nums1=[2,3,4,5,6,7,8,9,10]
for num in nums1:
    if num%2==0:
        print(num)

2
4
6
8
10

In [51]:
nums=[12,18,21,26]
for num in nums:
    if num%5==0:
        print(num)
        break

In [55]:
nums=[12,18,21,26]
for num in nums:
    if num%5==0:
        print(num)
          #break
else:
        print('number not found')

number not found

In [56]:
nums=[12,18,21,26,15]
for num in nums:
    if num%5==0:
        print(num)
        break
else:
    print('number not found')

15